@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: #0f172a;
}

/* primary button styles */
.btn_primary {
    padding: 10px 20px !important;
    background: linear-gradient(to left, #ae216b, #df4454, #f67a36);
    color: #ffffff !important;
    border-radius: 0 !important;
    transition: all .3s ease-in-out;
    position: relative;
    display: block;
    z-index: 40;
    overflow: hidden;
    box-shadow: var(--boxShadow) !important;
    text-decoration: none !important;
}

.btn_primary::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #ae216b, #df4454, #f67a36);
    top: 0;
    right: -100%;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.btn_primary:hover {
    box-shadow: 10px 10px 19px #0a0a0aa8;
}

.btn_primary:hover::before {
    top: 96%;
}

.btn_primary:hover::after {
    right: 0;
}

/* react tabs styles */
.react-tabs__tab {
    color: #fff !important;
    font-weight: 700;
    border-radius: 0 !important;
    border: 1px solid #01c3da !important;
    transition: all .3s ease-in-out;
}

.react-tabs__tab--selected {
    color: #fff !important;
    background: #01c3da !important;
    border: 1px solid #01c3da !important;
}

.react-tabs__tab:focus:after {
    display: none;
}